{% extends 'base.html' %}
{% block title %}
    {% if update is True %}
        Update Contact
    {% else %}
        New Contact
    {% endif %}
{% endblock title %}

{% block headcontent %}
    <style>
        .phnno{
            color: #9f9f9f;
            font-weight: 600;
            font-size: 14px;
        }
    </style>
{% endblock headcontent %}

{% block body %}

  <h1 align="center"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-video2" viewBox="0 0 16 16">
    <path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
    <path d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2ZM1 3a1 1 0 0 1 1-1h2v2H1V3Zm4 10V2h9a1 1 0 0 1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10 10c-3.037 0-4.345 1.73-4.798 3H5Zm-4-2h3v2H2a1 1 0 0 1-1-1v-1Zm3-1H1V8h3v2Zm0-3H1V5h3v2Z"/>
  </svg> Phone Book App</h1>
  <br>
  <div class="container-fluid">
    {% if update is True %}
    <span class="h3">Update Contact</span>
    <br>
    <br>
        <form method="GET" action="/app/update">
            <input type="number" name="id" value="{{id}}" hidden>
            <div class="row">
                <div class="col-sm-4">
                    <b>First Name:</b>
                    <input type="text" class="form-control" name="fname" value="{{fname}}" required>
                </div>
                <div class="col-sm-4">
                    <b>Last Name:</b>
                    <input type="text" class="form-control" name="lname" value="{{lname}}">
                </div>
                <div class="col-sm-4">
                    <b>Phone No:</b>
                    <input type="text" class="form-control" name="phnno" value="{{phnno}}" required>
                </div>
            </div>
            <br>
            <button class="btn btn-success" style="width:10rem;"> Edit 
            </button>
        </form>

    {% else %}
    <span class="h3">New Contact</span>
    <br>
    <br>
        <form method="GET" action="./add">
            <div class="row">
                <div class="col-sm-4">
                    <b>First Name:</b>
                    <input type="text" class="form-control" name="fname" required>
                </div>
                <div class="col-sm-4">
                    <b>Last Name:</b>
                    <input type="text" class="form-control" name="lname">
                </div>
                <div class="col-sm-4">
                    <b>Phone No:</b>
                    <input type="text" class="form-control" name="phnno" required>
                </div>
            </div>
            <br>
            <button class="btn btn-success" style="width:10rem;"> Save 
            </button>
        </form>
    {% endif %}
  </div>

{% endblock body %}
